<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/styles.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="../../js/tailwindCss/tailwindcss3.3.3.js"></script>
    <title>Portal interna Tramites</title>
  </head>
  <body>
    <!-- header  -->
    <header class="flex flex-col gap-8 lg:gap-6">
      <!-- Logo gov  -->
      <section class="h-12 bg-[#3366CC] flex items-center px-6">
        <article class="lg:container mx-auto flex justify-between items-center">
          <img src="../../img/logo-gov.svg" class="w-32 h-32" alt="" />
        </article>
      </section>
      <!-- Logo gov  -->
      <!-- sec logos and input search -->
      <section
        class="lg:container mx-auto px-6 flex flex-wrap justify-center lg:justify-between items-center gap-y-6 xl:gap-6"
      >
        <article
          class="flex gap-6 flex-col lg:flex-row items-center justify-center lg:justify-start"
        >
          <a href="/" class="w-20">
            <img
              src="../../img/logoAlcaldia.png"
              class="w-full h-full object-contain"
              alt=""
            />
          </a>
          <h2 class="text-lg font-semibold text-center lg:text-start">
            Alcaldía Municipal de Santa Rosa de Cabal en Risaralda
          </h2>
        </article>

        <section class="flex flex-col gap-3 w-full lg:w-1/4">
          <a
            href="/_layouts/15/Authenticate.aspx"
            class="headerWeb__aut text-[12px] text-center lg:text-end hover:underline text-mainColor"
            >Administrar Sitio</a
          >
          <!-- section input  -->
          <article class="relative h-auto w-full">
            <input
              type="text"
              placeholder="Buscar trámite"
              class="text-[12px] border-2 w-full rounded-md py-2 px-3 outline-none focus:shadow-md transition duration-300"
            />
            <button
              class="bg-mainColor hover:bg-black transition duration-300 rounded-full text-white absolute right-2 top-[0.3rem] cursor-pointer p-1 w-7 h-7 flex justify-center items-center"
              id="btnSearchTramite"
            >
              <i class="fas fa-search text-[12px]"></i>
            </button>
          </article>
          <!-- section input  -->
        </section>
      </section>
      <!-- sec logos and input search -->
      <!-- navbar -->
      <nav
        class="transition-all duration-700 z-50 w-full border-b-2 border-mainColor bg-gris px-6 h-16"
        id="nav"
      >
        <section
          class="lg:container mx-auto flex flex-col gap-6 justify-center lg:gap-0 lg:flex-row items-center h-full"
        >
          <article
            class="flex justify-between items-center w-full h-full lg:hidden"
          >
            <h3 class="font-semibold">Menú</h3>
            <!-- boton menu mobile  -->
            <i
              class="fas fa-bars cursor-pointer text-[1.3rem]"
              id="btnMenu"
            ></i>

            <!-- boton menu mobile  -->
          </article>

          <!-- menu  -->
          <ul
            class="fixed hidden top-0 lg:relative lg:justify-center flex flex-col lg:flex lg:items-center lg:flex-row lg:gap-0 w-full lg:w-auto h-screen lg:h-full transform transition-all duration-700 z-50 bg-white lg:bg-transparent lg:top-auto lg:z-auto lg:opacity-100 opacity-0"
            id="ulMenu"
          >
            <article
              class="w-full p-6 flex justify-between items-center lg:hidden"
            >
              <figure class="w-20">
                <img
                  src="../../img/logoAlcaldia.png"
                  class="w-full h-full object-contain"
                  alt=""
                />
              </figure>
              <i
                class="fas fa-times-circle text-[1.5rem] text-mainColor cursor-pointer"
                id="btnMenuClose"
              ></i>
            </article>
            <section class="flex flex-col lg:flex-row h-full">
              <li
                class="cursor-pointer hover:bg-mainColor hover:underline transition-all duration-300 py-6 lg:py-0 lg:h-full flex items-center group px-6 lg:text-center"
              >
                <a
                  href="/"
                  class="font-bold transition-all text-[14px] select-none group-hover:text-white"
                >
                  Inicio
                </a>
              </li>
              <li
                class="cursor-pointer hover:bg-mainColor hover:underline transition-all duration-300 py-6 lg:py-0 lg:h-full flex items-center group px-6 lg:text-center"
              >
                <a
                  href="/"
                  class="font-bold transition-all text-[14px] select-none group-hover:text-white"
                >
                  Transparencia y acceso a la información pública
                </a>
              </li>
              <li
                class="cursor-pointer hover:bg-mainColor hover:underline transition-all duration-300 py-6 lg:py-0 lg:h-full flex items-center group px-6 lg:text-center"
              >
                <a
                  href="/"
                  class="font-bold transition-all text-[14px] select-none group-hover:text-white"
                >
                  Trámites y servicios
                </a>
              </li>
              <li
                class="cursor-pointer hover:bg-mainColor hover:underline transition-all duration-300 py-6 lg:py-0 lg:h-full flex items-center group px-6 lg:text-center"
              >
                <a
                  href="/"
                  class="font-bold transition-all text-[14px] select-none group-hover:text-white"
                >
                  Sobre nosotros
                </a>
              </li>
              <li
                class="cursor-pointer hover:bg-mainColor hover:underline transition-all duration-300 py-6 lg:py-0 lg:h-full flex items-center group px-6 lg:text-center"
              >
                <a
                  href="/"
                  class="font-bold transition-all text-[14px] select-none group-hover:text-white"
                >
                  Ayuda
                </a>
              </li>
              <li
                class="cursor-pointer hover:bg-mainColor hover:underline transition-all duration-300 py-6 lg:py-0 lg:h-full flex items-center group px-6 lg:text-center"
              >
                <a
                  href="/"
                  class="font-bold transition-all text-[14px] select-none group-hover:text-white"
                >
                  Portal principal
                </a>
              </li>
            </section>
          </ul>
          <!-- menu  -->
        </section>
      </nav>
      <!-- navbar -->
    </header>
    <!-- header  -->

    <main class="my-10 px-6 mb-20">
      <section
        class="lg:container mx-auto flex justify-center items-center h-full"
      >
        <!-- sec main  -->
        <article class="grid grid-cols-1 lg:grid-cols-6 gap-6">
          <!-- sec Form -->
          <div class="col-span-1 lg:col-span-4 flex flex-col gap-y-8">
            <h1 class="text-xl lg:text-2xl font-bold text-mainColor">
              Esterilización Canina y Felina.
            </h1>
            <h3 class="text-2xl font-semibold">Paso 2 - Hago mi solicitud</h3>

            <!-- sec progres  -->
            <section class="flex flex-col gap-3 w-full 2xl:w-[80%]">
              <section class="h-1 w-full bg-gray-300">
                <div class="h-full w-32 bg-mainColor"></div>
              </section>
              <section
                class="w-full flex flex-wrap justify-between gap-3 text-gray-400"
              >
                <article
                  class="flex items-center gap-2 transition-all hover:text-mainColor cursor-pointer group numberProgress"
                >
                  <div
                    class="w-6 h-6 flex items-center justify-center rounded-full text-white bg-gray-400 font-semibold text-[14px] group-hover:bg-mainColor transition-all duration-500"
                  >
                    1
                  </div>
                  <h3
                    class="font-semibold text-[12px] group-hover:text-mainColor transition-all duration-500"
                  >
                    Inicio
                  </h3>
                </article>
                <article
                  class="flex items-center gap-2 transition-all hover:text-mainColor cursor-pointer group numberProgress"
                >
                  <div
                    class="w-6 h-6 flex items-center justify-center rounded-full text-white bg-mainColor font-semibold text-[14px] group-hover:bg-mainColor transition-all duration-500"
                  >
                    2
                  </div>
                  <h3
                    class="font-semibold text-[12px] group-hover:text-mainColor transition-all duration-500 text-mainColor"
                  >
                    Hago mi solicitud
                  </h3>
                </article>
                <article
                  class="flex items-center gap-2 transition-all hover:text-mainColor cursor-pointer group numberProgress"
                >
                  <div
                    class="w-6 h-6 flex items-center justify-center rounded-full border border-gray-400 text-gray-400 font-semibold text-[14px] group-hover:bg-mainColor group-hover:text-white group-hover:border-mainColor transition-all duration-500"
                  >
                    3
                  </div>
                  <h3
                    class="font-semibold text-[12px] group-hover:text-mainColor transition-all duration-500"
                  >
                    Procesan mi solicitud
                  </h3>
                </article>
                <article
                  class="flex items-center gap-2 transition-all hover:text-mainColor cursor-pointer group numberProgress"
                >
                  <div
                    class="w-6 h-6 flex items-center justify-center rounded-full border border-gray-400 text-gray-400 font-semibold text-[14px] group-hover:bg-mainColor group-hover:text-white group-hover:border-mainColor transition-all duration-500"
                  >
                    4
                  </div>
                  <h3
                    class="font-semibold text-[12px] group-hover:text-mainColor transition-all duration-500"
                  >
                    Procesan mi Respuesta
                  </h3>
                </article>
              </section>
            </section>
            <!-- sec progres  -->

            <!-- sec invitacion -->
            <section class="rounded-lg border border-mainColor px-3 py-4">
              <h3 class="text-[1rem] font-semibold">
                Le invitamos a completar la información solicitada.
              </h3>
            </section>
            <!-- sec invitacion -->

            <section class="flex flex-col gap-3">
              <h3 class="font-semibold text-[1rem]">
                Esterilizar caninos o felinos mediante procedimiento quirúrgico
                para controlar el crecimiento poblacional.
              </h3>
              <form class="flex flex-col gap-y-6">
                <!-- sec Form 1 -->
                <section
                  class="border border-gray-300 flex flex-col gap-y-8 py-6 px-4 rounded-md"
                >
                  <h3 class="text-mainColor font-semibold">
                    Información básica de la solicitud
                  </h3>
                  <section class="flex flex-col gap-y-4">
                    <label for="" class="flex flex-col gap-2">
                      <h3 class="text-[12px] font-semibold">
                        Primer Nombre:
                        <span class="text-red-500 font-semibold text-[1rem]"
                          >*</span
                        >
                      </h3>
                      <input
                        type="text"
                        class="border border-gray-300 rounded-md py-2 focus:border-mainColor outline-none px-3 text-[14px] transition-all duration-500"
                      />
                    </label>
                    <label for="" class="flex flex-col gap-2">
                      <h3 class="text-[12px] font-semibold">Segundo Nombre:</h3>
                      <input
                        type="text"
                        class="border border-gray-300 rounded-md py-2 focus:border-mainColor outline-none px-3 text-[14px] transition-all duration-500"
                      />
                    </label>
                    <label for="" class="flex flex-col gap-2">
                      <h3 class="text-[12px] font-semibold">
                        Primer Apellido:
                        <span class="text-red-500 font-semibold text-[1rem]"
                          >*</span
                        >
                      </h3>
                      <input
                        type="text"
                        class="border border-gray-300 rounded-md py-2 focus:border-mainColor outline-none px-3 text-[14px] transition-all duration-500"
                      />
                    </label>
                    <label for="" class="flex flex-col gap-2">
                      <h3 class="text-[12px] font-semibold">
                        Segundo Apellido:
                      </h3>
                      <input
                        type="text"
                        class="border border-gray-300 rounded-md py-2 focus:border-mainColor outline-none px-3 text-[14px] transition-all duration-500"
                      />
                    </label>
                    <label for="" class="flex flex-col gap-2">
                      <h3 class="text-[12px] font-semibold">
                        Correo electrónico:
                        <span class="text-red-500 font-semibold text-[1rem]"
                          >*</span
                        >
                      </h3>
                      <input
                        type="email"
                        class="border border-gray-300 rounded-md py-2 focus:border-mainColor outline-none px-3 text-[14px] transition-all duration-500"
                      />
                    </label>
                    <label for="" class="flex flex-col gap-2">
                      <h3 class="text-[12px] font-semibold">
                        Número Teléfono Contacto:
                      </h3>
                      <input
                        type="text"
                        class="border border-gray-300 rounded-md py-2 focus:border-mainColor outline-none px-3 text-[14px] transition-all duration-500"
                      />
                    </label>
                    <label for="" class="flex flex-col gap-2">
                      <h3 class="text-[12px] font-semibold">
                        Descripción:
                        <span class="text-red-500 font-semibold text-[1rem]"
                          >*</span
                        >
                      </h3>
                      <textarea
                        class="max-h-40 resize-y border border-gray rounded-md p-2 text-[14px] focus:border-mainColor outline-none transition-all duration-500"
                        placeholder="Escribe aquí"
                      ></textarea>
                    </label>
                  </section>
                </section>
                <!-- sec Form 1 -->
                <!-- sec Form 2 -->
                <section
                  class="border border-gray-300 flex flex-col gap-y-8 py-6 px-4 rounded-md"
                >
                  <article class="flex flex-col gap-y-6">
                    <h3 class="text-mainColor font-semibold">
                      Datos del solicitante
                    </h3>
                    <p class="font-semibold text-[14px]">
                      Verificación de la información adjuntada por el usuario y
                      se asigna lugar, fecha y hora de la cita para el
                      procedimiento. (Campañas)
                    </p>
                  </article>
                  <section class="flex flex-col gap-y-4">
                    <label for="" class="flex flex-col gap-2">
                      <h3 class="text-[12px] font-semibold">
                        Nombres:
                        <span class="text-red-500 font-semibold text-[1rem]"
                          >*</span
                        >
                      </h3>
                      <input
                        type="text"
                        class="border border-gray-300 rounded-md py-2 focus:border-mainColor outline-none px-3 text-[14px] transition-all duration-500"
                      />
                    </label>
                    <label for="" class="flex flex-col gap-2">
                      <h3 class="text-[12px] font-semibold">
                        Apellidos:
                        <span class="text-red-500 font-semibold text-[1rem]"
                          >*</span
                        >
                      </h3>
                      <input
                        type="text"
                        class="border border-gray-300 rounded-md py-2 focus:border-mainColor outline-none px-3 text-[14px] transition-all duration-500"
                      />
                    </label>
                    <label for="" class="flex flex-col gap-2">
                      <h3 class="text-[12px] font-semibold">
                        Tipo de documento:
                        <span class="text-red-500 font-semibold text-[1rem]"
                          >*</span
                        >
                      </h3>
                      <select
                        id="countries"
                        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-main-Color w-full p-2.5 cursor-pointer outline-none"
                      >
                        <option selected>Seleccione...</option>
                        <option value="">C.C Cédula de ciudadania</option>
                        <option value="">C.E Cédula de extranjería</option>
                        <option value="">T.I Tarjeta de identidad</option>
                      </select>
                    </label>

                    <label for="" class="flex flex-col gap-2">
                      <h3 class="text-[12px] font-semibold">
                        Dirección:
                        <span class="text-red-500 font-semibold text-[1rem]"
                          >*</span
                        >
                      </h3>
                      <input
                        type="text"
                        class="border border-gray-300 rounded-md py-2 focus:border-mainColor outline-none px-3 text-[14px] transition-all duration-500"
                      />
                    </label>
                    <label for="" class="flex flex-col gap-2">
                      <h3 class="text-[12px] font-semibold">
                        Número de Teléfono:
                        <span class="text-red-500 font-semibold text-[1rem]"
                          >*</span
                        >
                      </h3>
                      <input
                        type="number"
                        class="border border-gray-300 rounded-md py-2 focus:border-mainColor outline-none px-3 text-[14px] transition-all duration-500"
                      />
                    </label>
                    <label for="" class="flex flex-col gap-2">
                      <h3 class="text-[12px] font-semibold">
                        Correo Electrónico:
                        <span class="text-red-500 font-semibold text-[1rem]"
                          >*</span
                        >
                      </h3>
                      <input
                        type="email"
                        class="border border-gray-300 rounded-md py-2 focus:border-mainColor outline-none px-3 text-[14px] transition-all duration-500"
                      />
                    </label>
                    <label for="" class="flex flex-col gap-2">
                      <h3 class="text-[12px] font-semibold">
                        Nombre de la mascota:
                        <span class="text-red-500 font-semibold text-[1rem]"
                          >*</span
                        >
                      </h3>
                      <input
                        type="text"
                        class="border border-gray-300 rounded-md py-2 focus:border-mainColor outline-none px-3 text-[14px] transition-all duration-500"
                      />
                    </label>
                    <label for="" class="flex flex-col gap-2">
                      <h3 class="text-[12px] font-semibold">
                        Tipo de mascota:
                        <span class="text-red-500 font-semibold text-[1rem]"
                          >*</span
                        >
                      </h3>
                      <select
                        id="countries"
                        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-main-Color w-full p-2.5 cursor-pointer outline-none"
                      >
                        <option selected>Seleccione...</option>
                        <option value="Perro">Perro</option>
                        <option value="Gato">Gato</option>
                      </select>
                    </label>
                    <label for="" class="flex flex-col gap-2">
                      <h3 class="text-[12px] font-semibold">
                        Genero:
                        <span class="text-red-500 font-semibold text-[1rem]"
                          >*</span
                        >
                      </h3>
                      <select
                        id="countries"
                        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-main-Color w-full p-2.5 cursor-pointer outline-none"
                      >
                        <option selected>Seleccione...</option>
                        <option value="Perro">Macho</option>
                        <option value="Gato">Hembra</option>
                      </select>
                    </label>
                    <label for="" class="flex flex-col gap-2">
                      <h3 class="text-[12px] font-semibold">
                        Edad de la mascota:
                        <span class="text-red-500 font-semibold text-[1rem]"
                          >*</span
                        >
                      </h3>
                      <input
                        type="number"
                        class="border border-gray-300 rounded-md py-2 focus:border-mainColor outline-none px-3 text-[14px] transition-all duration-500"
                      />
                    </label>
                    <label for="" class="flex flex-col gap-2">
                      <h3 class="text-[12px] font-semibold">
                        Tiene todas las vacunas:
                        <span class="text-red-500 font-semibold text-[1rem]"
                          >*</span
                        >
                      </h3>
                      <select
                        id="countries"
                        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-main-Color w-full p-2.5 cursor-pointer outline-none"
                      >
                        <option selected>Seleccione...</option>
                        <option value="Si">Si</option>
                        <option value="No">No</option>
                      </select>
                    </label>

                    <section class="my-5 flex flex-col gap-3">
                      <h3 class="font-semibold text-mainColor">
                        Documentos adjuntos:
                      </h3>
                      <h3 class="font-semibold text-[14px]">
                        Documentos Requeridos
                      </h3>
                    </section>

                    <label
                      for="file-input"
                      class="flex flex-col gap-2 relative"
                    >
                      <section class="flex justify-between items-center">
                        <h3 class="text-[12px] font-semibold">
                          Fotocopia de cédula del propietario:
                          <span class="text-red-500 font-semibold text-[1rem]"
                            >*</span
                          >
                        </h3>
                        <i
                          class="fas fa-trash-alt text-mainColor text-[1rem] cursor-pointer"
                        ></i>
                      </section>
                      <section class="flex flex-col gap-3" id="docs1">
                        <input
                          type="file"
                          name="file-input"
                          id="file-input"
                          class="border border-gray-300 shadow-sm rounded-lg text-[14px] file:mr-3 focus:z-10 focus:border-mainColor disabled:opacity-50 file:bg-mainColor file:border-0 file:text-white file:py-2 file:px-4 outline-none file:cursor-pointer file:outline-none"
                        />
                        <p class="text-gray-500 text-[12px]">
                          Ampliada al 150%, el peso del archivo no debe exceder
                          2MB
                        </p>
                      </section>
                    </label>

                    <label
                      for="file-input"
                      class="flex flex-col gap-2 relative"
                    >
                      <section class="flex justify-between items-center">
                        <h3 class="text-[12px] font-semibold">
                          Carnet de vacunación:
                          <span class="text-red-500 font-semibold text-[1rem]"
                            >*</span
                          >
                        </h3>
                        <i
                          class="fas fa-trash-alt text-mainColor text-[1rem] cursor-pointer"
                        ></i>
                      </section>
                      <section class="flex flex-col gap-3" id="docs2">
                        <input
                          type="file"
                          name="file-input"
                          id=""
                          class="border border-gray-300 shadow-sm rounded-lg text-[14px] file:mr-3 focus:z-10 focus:border-mainColor disabled:opacity-50 file:bg-mainColor file:border-0 file:text-white file:py-2 file:px-4 outline-none file:cursor-pointer file:outline-none"
                          multiple="4"
                        />
                        <p class="text-gray-500 text-[12px]">
                          Recuerda subir una imágen clara, el peso del archivo
                          no debe exceder 2MB
                        </p>
                      </section>
                    </label>
                    <label
                      for="file-input"
                      class="flex flex-col gap-2 relative"
                    >
                      <section class="flex justify-between items-center">
                        <h3 class="text-[12px] font-semibold">
                          Fotografia del Ejemplar:
                          <span class="text-red-500 font-semibold text-[1rem]"
                            >*</span
                          >
                        </h3>
                        <i
                          class="fas fa-trash-alt text-mainColor text-[1rem] cursor-pointer"
                        ></i>
                      </section>
                      <section class="flex flex-col gap-3" id="docs2">
                        <input
                          type="file"
                          name="file-input"
                          id=""
                          class="border border-gray-300 shadow-sm rounded-lg text-[14px] file:mr-3 focus:z-10 focus:border-mainColor disabled:opacity-50 file:bg-mainColor file:border-0 file:text-white file:py-2 file:px-4 outline-none file:cursor-pointer file:outline-none"
                          multiple="4"
                        />
                        <p class="text-gray-500 text-[12px]">
                          Recuerda subir una imágen clara, el peso del archivo
                          no debe exceder 2MB
                        </p>
                      </section>
                    </label>
                  </section>
                </section>
                <!-- sec Form 2 -->

                <!-- sec captcha  -->
                <section
                  class="border border-gray-300 px-3 py-6 rounded-md flex flex-col gap-3"
                >
                  <h3 class="font-semibold text-mainColor">Verificación</h3>
                  <!-- captcha  -->
                  <article
                    class="border border-400 rounded-sm p-3 shadow-sm w-80 bg-[#f9f9f9] flex justify-between items-center"
                  >
                    <section class="flex gap-3">
                      <input type="checkbox" name="" id="" class="" />
                      <p class="text-[12px]">I'm not a robot</p>
                    </section>
                    <img src="../../img/captcha.png" class="w-16" alt="" />
                  </article>
                  <!-- captcha  -->
                </section>
                <!-- sec captcha  -->

                <!-- button send  -->
                <button
                  class="py-2 px-4 rounded-full text-[14px] bg-darkColor hover:bg-mainColor text-white transition-all duration-500 font-semibold self-center uppercase"
                >
                  Envia tus comentarios
                </button>

                <!-- button send  -->
              </form>
            </section>
          </div>

          <!-- sec info  -->
          <div class="col-span-1 lg:col-span-2 flex flex-col gap-4">
            <section
              class="bg-clearGreen rounded-lg text-mainColor font-semibold p-4"
            >
              <a href="# " class="hover:underline text-[14px]"
                >Te explicamos con tutoriales</a
              >
            </section>

            <section
              class="bg-clearGreen rounded-md max-h-14 overflow-hidden transition-all duration-500 text-mainColor cursor-poiner secInfo"
            >
              <article class="p-4 flex flex-col gap-6">
                <article
                  class="flex justify-between items-center cursor-pointer secInfo"
                >
                  <h3 class="text-[14px] font-semibold">¿Tienes dudas?</h3>
                  <i
                    class="fa-solid fa-angle-down transform rotate-0 transition-all duration-500 iconDown"
                  ></i>
                </article>
                <article class="flex flex-col gap-3">
                  <h4 class="font-semibold text-[13px]">
                    Sobre este trámite o consulta
                  </h4>
                  <div class="flex flex-wrap gap-3 items-center">
                    <i class="fas fa-envelope"></i>
                    <a
                      href="mailto:soportemunicipios@gmail.com"
                      class="text-[14px] underline"
                      >Enviar correo</a
                    >
                  </div>
                  <div class="flex flex-wrap gap-3 items-center">
                    <i class="fas fa-headphones"></i>
                    <a href="#" class="text-[14px] underline"
                      >+ 57 604 560 6111</a
                    >
                  </div>
                </article>
              </article>
            </section>

            <section
              class="bg-clearGreen rounded-md max-h-14 overflow-hidden transition-all duration-500 text-mainColor cursor-poiner secInfo"
            >
              <article class="py-0 py-1 px-4 lg:p-4 flex flex-col gap-3">
                <article
                  class="flex justify-between items-center cursor-pointer secInfo"
                >
                  <h3 class="text-[14px] font-semibold">
                    ¿Como fue tu experiencia durante el proceso?
                  </h3>
                  <i
                    class="fa-solid fa-angle-down transform rotate-0 transition-all duration-500 iconDown"
                  ></i>
                </article>
                <article class="py-6 flex flex-col gap-3 items-center">
                  <div class="flex items-center justify-center gap-6">
                    <section
                      class="flex flex-col items-center gap-2 cursor-pointer"
                    >
                      <i class="fa-solid fa-circle-check text-[1.5rem]"></i>
                      <h3 class="uppercase font-semibold">Fácil</h3>
                    </section>
                    <section
                      class="flex flex-col items-center gap-2 cursor-pointer"
                    >
                      <i class="fa-solid fa-circle-xmark text-[1.5rem]"></i>
                      <h3 class="uppercase font-semibold">Difícil</h3>
                    </section>
                  </div>
                  <a
                    href="#"
                    class="py-2 px-4 border border-mainColor rounded-full text-[14px] hover:bg-mainColor hover:text-white transition-all duration-500 font-semibold"
                    >Envia tus comentarios</a
                  >
                </article>
              </article>
            </section>
          </div>
          <!-- sec info  -->
        </article>
        <!-- sec main  -->
      </section>
    </main>
    <!-- footer   -->
    <footer class="mt-20 flex flex-col">
      <section class="bg-mainColor px-6">
        <article
          class="lg:container mx-auto text-black rounded-lg bg-white p-8 py-10 lg:py-20 transform translate-y-[-40px] border-t"
        >
          <article class="grid grid-cols-1 lg:grid-cols-3 gap-y-10">
            <!-- seccion 1 -->
            <div
              class="col-span-1 lg:col-span-2 flex flex-col text-[1rem] gap-1 order-2 lg:order-1 gap-2 lg:gap-1"
            >
              <h3 class="text-xl text-mainColor font-bold">
                Alcaldía Municipal de Santa Rosa de Cabal en Risaralda
              </h3>

              <p class="font-semibold">
                Dirección:
                <span class="font-normal"
                  >Carrera 14 con Calle 12 Esquina- Santa Rosa de Cabal-
                  Risaralda- Colombia</span
                >.
              </p>
              <p class="font-semibold">
                Horario de atención:
                <span class="font-normal">
                  Lunes a Jueves de 7:00 a. m. a 12:00 m y de 2:00 p.m. a 5:00
                  p.m <br />Viernes de 7:00 a.m. a 3:00 p.m. Jornada
                  Continua.</span
                >
              </p>

              <p class="font-semibold">
                Teléfono Conmutador:
                <span class="text-mainColor underline font-semibold">
                  +57 606 3660600 ext. 101
                </span>
              </p>
              <p class="font-semibold">
                Código Postal:
                <span class="underline text-mainColor font-semibold">
                  661020</span
                >
              </p>
              <p class="font-bold">
                Teléfono móvil:
                <span class="font-normal"> No disponible</span>
              </p>
              <p class="font-semibold">
                Línea de atención gratuita:
                <span class="text-mainColor underline font-semibold">
                  +57 606 3660600</span
                >
              </p>
              <p class="font-semibold">
                Línea anticorrupción:
                <span class="underline text-mainColor font-semibold"
                  >+57 606 3655225</span
                >
              </p>
              <p class="font-bold">
                Fax:
                <span class="font-normal">No disponible</span>
              </p>
              <p class="font-semibold">
                Correo institucional:
                <span class="text-mainColor underline font-semibold">
                  contactenos@santarosadecabal-risaralda.gov.co
                </span>
              </p>
              <p class="font-semibold">
                Correo de notificaciones judiciales:
                <span class="text-mainColor underline font-semibold"
                  >notificacionjudicial@santarosa <br />
                  decabal -risaralda.gov.co
                </span>
              </p>
            </div>
            <!-- seccion 1 -->
            <!-- seccion 2  -->
            <figure
              class="col-span-1 flex flex-col gap-3 items-center justify-center order-1 lg:order-2"
            >
              <img
                src="../../img/logoAlcaldia.png"
                alt=""
                class="w-24 object-contain"
              />
              <h3 class="font-semibold text-lg text-center">
                Alcaldía Municipal de Santa Rosa de Cabal en Risaralda
              </h3>
            </figure>
            <!-- seccion 2  -->
            <!-- seccion redes  -->
            <div class="col-span-1 lg:col-span-3 flex flex-wrap gap-3 order-3">
              <a
                href="#"
                class="flex items-center gap-1 hover:underline text-mainColor"
              >
                <i class="fab fa-facebook text-[1rem]"></i>
                @Alcaldía de Santa Rosa de Cabal
              </a>
              <a
                href="#"
                class="flex items-center gap-1 hover:underline text-mainColor"
              >
                <i class="fa-brands fa-x-twitter text-[1rem]"></i>
                @Alcaldía de Santa Rosa de Cabal
              </a>
              <a
                href="#"
                class="flex items-center gap-1 hover:underline text-mainColor"
              >
                <i class="fa-brands fa-youtube text-[1rem]"></i>
                @Santa Rosa de Cabal
              </a>
            </div>
            <!-- seccion redes  -->

            <!-- seccion redes  -->
            <div
              class="col-span-1 lg:col-span-3 text-mainColor text-[1rem] flex flex-wrap gap-6 order-3 underline font-semibold"
            >
              <a href="#">Política de privacidad y condiciones de uso</a>
              <a href="#"> Contacto</a>
              <a href="#">Mapa del sitio</a>
            </div>
            <!-- seccion redes  -->
          </article>
        </article>
      </section>
      <section class="bg-govColor px-6">
        <article
          class="lg:container mx-auto text-white flex justify-center lg:justify-start gap-5 py-5"
        >
          <figure class="w-12">
            <img
              src="../../img/logofooter.png"
              class="w-full h-full object-contain"
              alt=""
            />
          </figure>
          <div class="w-[1px] h-auto bg-white"></div>
          <img src="../../img/logo-gov.svg" class="w-32" alt="" />
        </article>
      </section>
    </footer>
    <!-- footer  -->
    <!-- Botón de chatbot -->
    <button
      class="fixed bottom-24 right-[5rem] lg:right-[5.8rem] bg-white hover:bg-black rounded-full hover:fill-[#fff] text-white p-4 lg:p-6 transform translate-x-full transition-all duration-500 z-40 bordeBotonChat border border-black"
    >
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6">
        <path
          d="M21.928 11.607c-.202-.488-.635-.605-.928-.633V8c0-1.103-.897-2-2-2h-6V4.61c.305-.274.5-.668.5-1.11a1.5 1.5 0 0 0-3 0c0 .442.195.836.5 1.11V6H5c-1.103 0-2 .897-2 2v2.997l-.082.006A1 1 0 0 0 1.99 12v2a1 1 0 0 0 1 1H3v5c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5a1 1 0 0 0 1-1v-1.938a1.006 1.006 0 0 0-.072-.455zM5 20V8h14l.001 3.996L19 12v2l.001.005.001 5.995H5z"
        ></path>
        <ellipse cx="8.5" cy="12" rx="1.5" ry="2"></ellipse>
        <ellipse cx="15.5" cy="12" rx="1.5" ry="2"></ellipse>
        <path d="M8 16h8v2H8z"></path>
      </svg>
    </button>
    <!-- Botón de Scroll -->
    <button
      id="scrollBtn"
      class="fixed bottom-8 right-8 bg-mainColor rounded-full text-white p-2 lg:p-3 transform translate-x-full opacity-0 transition-all duration-300 ease-in-out z-40"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m4.5 18.75 7.5-7.5 7.5 7.5"
        />
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m4.5 12.75 7.5-7.5 7.5 7.5"
        />
      </svg>
    </button>
    <!-- main scripts  -->
    <script src="../../js/main/interna.js"></script>
    <!-- main scripts  -->
    <!-- Tippy.js  -->
    <script src="../../js/tippyJs/popper.min.js"></script>
    <script src="../../js/tippyJs/tippy-bundle.umd.min.js"></script>
    <script src="../../js/main/form.js" type="module"></script>
    <!-- Tippy.js  -->
  </body>
</html>
