<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css"
      rel="stylesheet"
    />
    <!-- CSS swiper -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <title>Sports</title>
  </head>
  <body>
    <!-- Nav  -->
    <nav class="py-6 px-6 md:px-0">
      <section
        class="container:lg mx-auto bg-white border-gray-200 dark:bg-gray-900"
      >
        <div
          class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
        >
          <a href="/" class="flex items-center">
            <img
              src="https://flowbite.com/docs/images/logo.svg"
              class="h-8 mr-3"
              alt="Flowbite Logo"
            />
            <span
              class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
              >Blog News</span
            >
          </a>
          <div class="flex items-center md:order-2">
            <button
              type="button"
              class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
              id="user-menu-button"
              aria-expanded="false"
              data-dropdown-toggle="user-dropdown"
              data-dropdown-placement="bottom"
            >
              <span class="sr-only">Open user menu</span>
              <img
                class="w-8 h-8 rounded-full object-cover"
                src="https://img.freepik.com/foto-gratis/retrato-hombre-blanco-aislado_53876-40306.jpg?w=2000"
                alt="user photo"
              />
            </button>
            <!-- Dropdown menu -->
            <div
              class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
              id="user-dropdown"
            >
              <div class="px-4 py-3">
                <span class="block text-sm text-gray-900 dark:text-white"
                  >Blog News User</span
                >
                <span
                  class="block text-sm text-gray-500 truncate dark:text-gray-400"
                  >BlogNew@news.com</span
                >
              </div>
              <ul class="py-2" aria-labelledby="user-menu-button">
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                    >Dashboard</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                    >Settings</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                    >Earnings</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                    >Sign out</a
                  >
                </li>
              </ul>
            </div>
            <button
              data-collapse-toggle="navbar-user"
              type="button"
              class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
              aria-controls="navbar-user"
              aria-expanded="false"
            >
              <span class="sr-only">Open main menu</span>
              <svg
                class="w-5 h-5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 17 14"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 1h15M1 7h15M1 13h15"
                />
              </svg>
            </button>
          </div>
          <div
            class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
            id="navbar-user"
          >
            <ul
              class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
            >
              <li>
                <a
                  href="/"
                  class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
                  aria-current="page"
                  >Home</a
                >
              </li>
              <li>
                <a
                  href="/views/design.html"
                  class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  >Design</a
                >
              </li>
              <li>
                <a
                  href="/views/tech.html"
                  class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  >Technology</a
                >
              </li>
              <li>
                <a
                  href="/views/sports.html"
                  class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  >Sports</a
                >
              </li>
              <li>
                <a
                  href="/views/games.html"
                  class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  >Games</a
                >
              </li>
              <li>
                <a
                  href="/views/travel.html"
                  class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  >Travel</a
                >
              </li>
              <li>
                <a
                  href="/views/iamachine.html"
                  class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  >IA</a
                >
              </li>
            </ul>
          </div>
        </div>
      </section>
    </nav>
    <!-- Nav  -->
    <!-- header  -->
    <header class="px-6">
      <section
        class="lg:container mx-auto bg-cover max-w-screen-lg h-[300px] md:h-[400px] rounded-lg flex flex-col gap-3 items-center justify-center px-6"
        style="
          background-image: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.9458158263305322) 29%,
              rgba(0, 0, 0, 0.06486344537815125) 100%
            ),
            url(https://s3.amazonaws.com/rtvc-assets-canalinstitucional.tv/s3fs-public/2023-07/soat-seguro-motocicleta-cobertura-solicitar.jpg);
        "
      >
        <article class="flex flex-col items-center gap-1 md:gap-3">
          <article
            class="flex items-center justify-center gap-1 md:gap-3 w-20 h-auto md:w-24 bg-[#0CBC87] rounded-lg px-2 py-1"
          >
            <div
              class="w-[8px] h-[8px] md:w-[14px] md:h-[14px] bg-[#fff] rounded-full"
            ></div>
            <p
              class="text-white font-bold md:font-normal text-[10px] md:text-[16px]"
            >
              Sports
            </p>
          </article>
          <h2
            class="text-2xl md:text-3xl text-center xl:text-6xl text-white font-bold"
          >
            The protocol involves commercial advice, new motorcycle delivery,
            and after-sales follow-up.
          </h2>
        </article>
        <article
          class="flex justify-center flex-wrap gap-3 xl:gap-6 items-center"
        >
          <img
            src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            class="w-[30px] h-[30px] md:w-[40px] md:h-[40px] rounded-full object-cover"
            alt=""
          />
          <p class="text-sm md:font-bold xl:text-lg text-white">by Jenifer</p>
          <span class="bg-white w-[5px] h-[5px] rounded-full"></span>
          <p class="text-sm md:font-bold xl:text-lg text-white">Nov 10,2023</p>
          <span class="bg-white w-[5px] h-[5px] rounded-full"></span>
          <p class="text-sm md:font-bold md:text-[14px] xl:text-lg text-white">
            5 min read
          </p>
        </article>
      </section>
    </header>
    <!-- header  -->
    <main class="my-6 px-6">
      <section
        class="max-w-screen-lg lg:container mx-auto grid grid-cols-1 xl:grid-cols-12 gap-6 md:gap-10 2xl:gap-20"
      >
        <div class="col-span-12 xl:col-span-9 w-full">
          <article
            class="flex flex-col gap-3 text-[#706e74] text-sm md:text-[16px] leading-relaxed md:leading-7 text-justify"
          >
            <p>
              <span
                class="bg-[#191a1f] text-white font-bold py-1 px-2 text-2xl md:mb-[3px]"
                >I</span
              >
              f you had owned a motorcycle before, you might have liked to have
              this protocol?.The first stage is the pre-sale, where the
              commercial advisor will have to guide those interested in
              purchasing a motorcycle in aspects such as: identification of the
              ideal motorcycle, according to the real needs of use and
              experience.Likewise, on the possession and qualities of road
              safety components in the vehicle, such as disc brakes and advanced
              braking systems, among which are ABS or CBS, or the automatic
              lighting system.
            </p>
            <p>
              In addition, advisors must promote the participation of interested
              parties in training programs indicated by the ANSV.The second
              stage is the sale and delivery of the motorcycle.

              <span class="font-bold text-black"
                >There, buyers will receive the safe and sustainable mobility
                guide built by ANDI within the framework of its 'Movemos
                Colombia' program.</span
              >There, buyers will receive the safe and sustainable mobility
              guide built by ANDI within the framework of its 'Movemos Colombia'
              program.Then, upon delivery of the motorcycle, the advisor must
              review the possession of the Mandatory Traffic Accident Insurance
              (SOAT). In addition, he will suggest and verify that whoever picks
              up the motorcycle has a valid driving license and a helmet to move
              around.And finally, after-sales, whose purpose is for brands to
              implement monitoring processes for periodic inspections of
              motorcycles, and send information on road safety to their buyers.
            </p>
            <p class="font-bold">
              If I had a motorcycle, I would enjoy riding it on the weekends.
              Get your dream motorcycle with the new protocols.
            </p>
            <!-- galeria  -->
            <div
              class="flex flex-col md:grid md:grid-cols-3 md:grid-rows-2 gap-4 md:gap-2"
            >
              <div class="md:col-span-1 h-[250px] md:h-[370px]">
                <img
                  src="https://www.harley-davidson.com/content/dam/h-d/images/category-images/2023/tall-hero/index-header-thm.jpg?impolicy=myresize&rw=1100"
                  alt=""
                  class="w-full h-full object-cover rounded-md"
                />
              </div>
              <div class="md:col-span-1 h-[250px] md:h-[370px]">
                <img
                  src="https://www.grupor5.com/hs-fs/hubfs/Mockup-General_1-1.jpg?width=1920&height=1080&name=Mockup-General_1-1.jpg"
                  alt=""
                  class="w-full h-full object-cover rounded-lg"
                />
              </div>
              <div class="md:col-span-1 h-[250px] md:h-[370px]">
                <img
                  src="https://estaticos.elcolombiano.com/documents/10157/0/1200x800/0c86/1200d627/center/11101/BLVF/image_content_33567327_20190606182955.jpg"
                  alt=""
                  class="w-full h-full object-cover rounded-md"
                />
              </div>
              <div class="md:col-span-1 h-[250px] md:h-[370px]">
                <img
                  src="https://www.elcarrocolombiano.com/wp-content/uploads/2019/07/20190712-HARLEY-DAVIDSON-LIVEWIRE-PRIMER-MOTO-ELECTRICA-01.jpg"
                  alt=""
                  class="w-full h-full object-cover rounded-md"
                />
              </div>
              <div class="md:col-span-1 h-[250px] md:h-[370px]">
                <img
                  src="https://w0.peakpx.com/wallpaper/19/405/HD-wallpaper-xre-300-honda-xt-motocicleta-thumbnail.jpg"
                  alt=""
                  class="w-full h-full object-cover rounded-md"
                />
              </div>
              <div class="md:col-span-1 h-[250px] md:h-[370px]">
                <img
                  src="https://i.pinimg.com/originals/db/36/ca/db36ca19beed94d9a4346de36cbdac4e.jpg"
                  alt=""
                  class="w-full h-full object-cover rounded-md"
                />
              </div>
            </div>
            <!-- galeria  -->
          </article>
        </div>

        <div class="col-span-12 xl:col-span-3 w-full">
          <article class="w-full flex flex-col gap-3">
            <h3 class="text-lg font-bold">Categories</h3>
            <div
              class="w-full py-2 rounded-md flex items-center justify-between bg-[#fef6e0] px-4"
            >
              <h3 class="text-[#f7c32e] font-bold text-[16px]">Photography</h3>
              <span class="px-2 text-black bg-[#f7c32e] rounded-md text-sm"
                >09</span
              >
            </div>
            <div
              class="w-full py-2 rounded-md flex items-center justify-between bg-[#edf5fe] px-4"
            >
              <h3 class="text-[#4f9ef8] font-bold text-[16px]">Travel</h3>
              <span class="px-2 text-white bg-[#4f9ef8] rounded-md text-sm"
                >08</span
              >
            </div>
            <div
              class="w-full py-2 rounded-md flex items-center justify-between bg-[#fbe9eb] px-4"
            >
              <h3 class="text-[#d6293e] font-bold text-[16px]">Technology</h3>
              <span class="px-2 text-white bg-[#d6293e] rounded-md text-sm"
                >10</span
              >
            </div>
            <div
              class="w-full py-2 rounded-md flex items-center justify-between bg-[#edf5fe] px-4"
            >
              <h3 class="text-[#2163e8] font-bold text-[16px]">Video</h3>
              <span class="px-2 text-white bg-[#2163e8] rounded-md text-sm"
                >08</span
              >
            </div>
            <div
              class="w-full py-2 rounded-md flex items-center justify-between bg-[#e6f8f3] px-4"
            >
              <h3 class="text-[#0cbc87] font-bold text-[16px]">Design</h3>
              <span class="px-2 text-white bg-[#0cbc87] rounded-md text-sm"
                >11</span
              >
            </div>
          </article>
        </div>
      </section>
    </main>

    <!-- footer  -->
    <footer class="rounded-t-md shadow bg-gray-900 mt-10">
      <div class="w-full max-w-screen-xl mx-auto p-10 xl:p-4 xl:py-12 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
          <a
            href="https://flowbite.com/"
            class="flex items-center mb-4 sm:mb-0"
          >
            <img
              src="https://flowbite.com/docs/images/logo.svg"
              class="h-8 mr-3"
              alt="Flowbite Logo"
            />
            <span
              class="self-center text-2xl font-semibold whitespace-nowrap text-white"
              >Blog News</span
            >
          </a>
          <ul
            class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 text-white"
          >
            <li>
              <a href="/views/design.html" class="mr-4 hover:underline md:mr-6"
                >Design</a
              >
            </li>
            <li>
              <a
                href="/views/iamachine.html"
                class="mr-4 hover:underline md:mr-6"
                >IA</a
              >
            </li>
            <li>
              <a href="/views/sports.html" class="mr-4 hover:underline md:mr-6"
                >Sports</a
              >
            </li>
            <li>
              <a href="/views/games.html" class="hover:underline">Games</a>
            </li>
          </ul>
        </div>
        <hr
          class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
        />
        <span class="block text-sm text-gray-500 sm:text-center text-white"
          >© 2023
          <a href="https://flowbite.com/" class="hover:underline">Blog News™</a
          >. All Rights Reserved.</span
        >
      </div>
    </footer>
    <!-- footer  -->

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- script ppal  -->
    <script src="../main.js"></script>
  </body>
</html>
