<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="../js/tailwindCss/tailwindcss3.3.3.js"></script>
    <title>Portal interna Tramites</title>
  </head>
  <body class="w-full min-h-screen">
    <!-- header  -->
    <header class="flex flex-col gap-8 lg:gap-6">
      <!-- Logo gov  -->
      <section class="h-12 bg-[#3366CC] flex items-center px-6">
        <article class="lg:container mx-auto flex justify-between items-center">
          <img src="./img/logo-gov.svg" class="w-32 h-32" alt="" />
        </article>
      </section>
      <!-- Logo gov  -->
      <!-- sec logos and input search -->
      <section
        class="lg:container mx-auto px-6 flex flex-wrap justify-center lg:justify-between items-center gap-y-6 xl:gap-6"
      >
        <article
          class="flex gap-6 flex-col lg:flex-row items-center justify-center lg:justify-start"
        >
          <a href="/" class="w-20">
            <img
              src="../img/logoAlcaldia.png"
              class="w-full h-full object-contain"
              alt=""
            />
          </a>
          <h2 class="text-lg font-semibold text-center lg:text-start">
            Alcaldía Municipal de Santa Rosa de Cabal en Risaralda
          </h2>
        </article>

        <section class="flex flex-col gap-3 w-full lg:w-1/4">
          <a
            href="/_layouts/15/Authenticate.aspx"
            class="headerWeb__aut text-[12px] text-center lg:text-end hover:underline text-mainColor"
            >Administrar Sitio</a
          >
          <!-- section input  -->
          <article class="relative h-auto w-full">
            <input
              type="text"
              placeholder="Buscar trámite"
              class="text-[12px] border-2 w-full rounded-md py-2 px-3 outline-none focus:shadow-md transition duration-300"
            />
            <button
              class="bg-mainColor hover:bg-black transition duration-300 rounded-full text-white absolute right-2 top-[0.3rem] cursor-pointer p-1 w-7 h-7 flex justify-center items-center"
              id="btnSearchTramite"
            >
              <i class="fas fa-search text-[12px]"></i>
            </button>
          </article>
          <!-- section input  -->
        </section>
      </section>
      <!-- sec logos and input search -->
    </header>
    <!-- header  -->

    <!-- navbar -->
    <nav
      class="transition-all duration-700 z-50 w-full border-b-2 border-mainColor bg-gris px-6 h-16 top-0 sticky z-[999] mt-4"
      id="nav"
    >
      <section
        class="lg:container mx-auto flex flex-col gap-6 justify-center lg:gap-0 lg:flex-row items-center h-full"
      >
        <article
          class="flex justify-between items-center w-full h-full lg:hidden"
        >
          <h3 class="font-semibold">Menú</h3>
          <!-- boton menu mobile  -->
          <i class="fas fa-bars cursor-pointer text-[1.3rem]" id="btnMenu"></i>

          <!-- boton menu mobile  -->
        </article>

        <!-- menu  -->
        <ul
          class="fixed hidden top-0 lg:relative lg:justify-center flex flex-col lg:flex lg:items-center lg:flex-row lg:gap-0 w-full lg:w-auto h-screen lg:h-full transform transition-all duration-700 z-50 bg-white lg:bg-transparent lg:top-auto lg:z-auto lg:opacity-100 opacity-0"
          id="ulMenu"
        >
          <article
            class="w-full p-6 flex justify-between items-center lg:hidden"
          >
            <figure class="w-20">
              <img
                src="./img/logoAlcaldia.png"
                class="w-full h-full object-contain"
                alt=""
              />
            </figure>
            <i
              class="fas fa-times-circle text-[1.5rem] text-mainColor cursor-pointer"
              id="btnMenuClose"
            ></i>
          </article>
          <section class="flex flex-col lg:flex-row h-full">
            <li
              class="cursor-pointer hover:bg-mainColor hover:underline transition-all duration-300 py-6 lg:py-0 lg:h-full flex items-center group px-6 lg:text-center"
            >
              <a
                href="index.html"
                class="font-bold transition-all text-[14px] select-none group-hover:text-white"
              >
                Inicio
              </a>
            </li>
            <li
              class="cursor-pointer hover:bg-mainColor hover:underline transition-all duration-300 py-6 lg:py-0 lg:h-full flex items-center group px-6 lg:text-center"
            >
              <a
                href="#"
                class="font-bold transition-all text-[14px] select-none group-hover:text-white"
              >
                Transparencia y acceso a la información pública
              </a>
            </li>
            <li
              class="cursor-pointer hover:bg-mainColor hover:underline transition-all duration-300 py-6 lg:py-0 lg:h-full flex items-center group px-6 lg:text-center"
            >
              <a
                href="#"
                class="font-bold transition-all text-[14px] select-none group-hover:text-white"
              >
                Trámites y servicios
              </a>
            </li>
            <li
              class="cursor-pointer hover:bg-mainColor hover:underline transition-all duration-300 py-6 lg:py-0 lg:h-full flex items-center group px-6 lg:text-center"
            >
              <a
                href="#"
                class="font-bold transition-all text-[14px] select-none group-hover:text-white"
              >
                Sobre nosotros
              </a>
            </li>
            <li
              class="cursor-pointer hover:bg-mainColor hover:underline transition-all duration-300 py-6 lg:py-0 lg:h-full flex items-center group px-6 lg:text-center"
            >
              <a
                href="#"
                class="font-bold transition-all text-[14px] select-none group-hover:text-white"
              >
                Ayuda
              </a>
            </li>
            <li
              class="cursor-pointer hover:bg-mainColor hover:underline transition-all duration-300 py-6 lg:py-0 lg:h-full flex items-center group px-6 lg:text-center"
            >
              <a
                href="#"
                class="font-bold transition-all text-[14px] select-none group-hover:text-white"
              >
                Portal principal
              </a>
            </li>
          </section>
        </ul>
        <!-- menu  -->
      </section>
    </nav>
    <!-- navbar -->

    <!-- header slider info Section  -->
    <section class="px-6 mb-52 lg:mt-30">
      <section class="lg:container mx-auto flex flex-col gap-8 lg:gap-10">
        <article class="flex items-center justify-center gap-3 relative">
          <h2 class="text-2xl md:text-3xl font-bold">
            <span
              class="before:absolute before:content-[''] md:before:w-1/4 xl:before:w-1/3 before:h-[1px] before:bg-black before:left-0 before:top-[1rem]"
            ></span>
            Información importante
            <span
              class="after:absolute after:content-[''] md:after:w-1/4 xl:after:w-1/3 after:h-[1px] after:bg-black after:right-0 after:top-[1rem]"
            ></span>
          </h2>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 lg:w-8 lg:h-8 font-bold text-[#17599b]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
          </svg>
        </article>
      </section>
    </section>
    <!-- header slider info Section  -->

    <main class="my-6 px-6">
      <section
        class="grid grid-cols-1 xl:grid-cols-12 gap-6 md:gap-10 2xl:gap-20 max-w-screen-lg lg:container mx-auto"
      >
        <article
          class="col-span-12 w-full flex flex-col gap-y-10 lg:gap-y-10 text-[#706e74] text-sm md:text-[16px] text-justify leading-relaxed md:leading-7"
        >
          <p>
            <span
              class="bg-[#191a1f] text-white font-bold py-1 px-2 text-2xl md:mb-[3px]"
              >A</span
            >
            ast 13 years at the helm of the brand, Sarah Burton is stepping down
            from her role as the creative director of Alexander McQueen. This
            was announced last night by the Kering Group, the company that owns
            the British label, through a statement: "I am very proud of
            everything I have accomplished and of the incredible team that makes
            up Alexander McQueen. They are my family, and this has been my home
            for the past 26 years," explains Burton, who joined the brand as an
            intern in 1996 and was later appointed head of design.
          </p>
          <p>
            After the passing of McQueen in 2010, Kering decided that his
            right-hand woman would become his successor. "I want to thank
            Francois Henri Pinault for his trust in me by off ering me this
            incredible opportunity, but above all, I want to thank Lee Alexander
            McQueen, who taught me so much," Burton continues in the statement.
            During her thirteen years at the helm, Burton continued to explore
            some of her mentor's obsessions (the gothic, Victorian attire, the
            aesthetics of British rural communities...) but in a much less
            spectacular and more realistic manner
            <span class="font-bold text-black"
              >The garments were mostly crafted using tailoring techniques,
              detailed yet tailored to the female body. </span
            >When she took the reins at McQueen, Burton became one of the very
            few women at that time leading the design of a major luxury brand.
            "There is no archetype for women; there are many women, even in the
            same woman. We see it every day on the street. Fortunately, there
            are no longer conventions about what to wear. In the same week, we
            can express ourselves diff erently with very diff erent garments,"
            she explained in an interview with S Moda
          </p>
          <p>
            <span
              class="bg-[#191a1f] text-white font-bold py-1 px-2 text-2xl md:mb-[3px]"
              >P</span
            >
            fter 13 years at the helm of the brand, Sarah Burton is stepping
            down from her role as the creative director of Alexander McQueen.
            This was announced last night by the Kering Group, the company that
            owns the British label, through a statement: "I am very proud of
            everything I have accomplished and of the incredible team that makes
            up Alexander McQueen. They are my family, and this has been my home
            for the past 26 years," explains Burton, who joined the brand as an
            intern in 1996 and was later appointed head of design.
          </p>
          <!-- galeria  -->
          <div class="flex flex-col md:grid md:grid-cols-3 gap-y-6 md:gap-6">
            <div class="col-span-1 md:col-span-2 h-[250px] md:h-[370px]">
              <img
                src="https://images.pexels.com/photos/927022/pexels-photo-927022.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt=""
                class="w-full h-full object-cover rounded-md"
              />
            </div>
            <section
              class="col-span-1 h-[250px] md:h-[370px] p-6 flex flex-col gap-5 shadow-md rounded-md justify-center border"
            >
              <h3 class="text-2xl lg:text-3xl font-bold">
                ¿Quieres conocer más?
              </h3>
              <p class="overflow-hidden line-clamp-2 xl:line-clamp-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                cum minus ea eaque quia, praesentium adipisci. Dignissimos saepe
                maxime impedit omnis possimus sed asperiores nostrum natus?
                Libero fugit veniam accusantium?
              </p>
              <a href="./interna.html">
                <button
                  class="bg-[#17599b] hover:bg-black transition-all duration-500 text-white text-[14px] rounded-lg px-3 py-1"
                >
                  Conoce más aquí
                </button>
              </a>
            </section>
          </div>
          <!-- galeria  -->
        </article>
      </section>
    </main>
    <!-- footer   -->
    <footer class="mt-20 flex flex-col">
      <section class="bg-mainColor px-6">
        <article
          class="lg:container mx-auto text-black rounded-lg bg-white p-8 py-10 lg:py-20 transform translate-y-[-40px] border-t"
        >
          <article class="grid grid-cols-1 lg:grid-cols-3 gap-y-10">
            <!-- seccion 1 -->
            <div
              class="col-span-1 lg:col-span-2 flex flex-col text-[1rem] gap-1 order-2 lg:order-1 gap-2 lg:gap-1"
            >
              <h3 class="text-xl text-mainColor font-bold">
                Alcaldía Municipal de Santa Rosa de Cabal en Risaralda
              </h3>

              <p class="font-semibold">
                Dirección:
                <span class="font-normal"
                  >Carrera 14 con Calle 12 Esquina- Santa Rosa de Cabal-
                  Risaralda- Colombia</span
                >.
              </p>
              <p class="font-semibold">
                Horario de atención:
                <span class="font-normal">
                  Lunes a Jueves de 7:00 a. m. a 12:00 m y de 2:00 p.m. a 5:00
                  p.m <br />Viernes de 7:00 a.m. a 3:00 p.m. Jornada
                  Continua.</span
                >
              </p>

              <p class="font-semibold">
                Teléfono Conmutador:
                <span class="text-mainColor underline font-semibold">
                  +57 606 3660600 ext. 101
                </span>
              </p>
              <p class="font-semibold">
                Código Postal:
                <span class="underline text-mainColor font-semibold">
                  661020</span
                >
              </p>
              <p class="font-bold">
                Teléfono móvil:
                <span class="font-normal"> No disponible</span>
              </p>
              <p class="font-semibold">
                Línea de atención gratuita:
                <span class="text-mainColor underline font-semibold">
                  +57 606 3660600</span
                >
              </p>
              <p class="font-semibold">
                Línea anticorrupción:
                <span class="underline text-mainColor font-semibold"
                  >+57 606 3655225</span
                >
              </p>
              <p class="font-bold">
                Fax:
                <span class="font-normal">No disponible</span>
              </p>
              <p class="font-semibold">
                Correo institucional:
                <span class="text-mainColor underline font-semibold">
                  contactenos@santarosadecabal-risaralda.gov.co
                </span>
              </p>
              <p class="font-semibold">
                Correo de notificaciones judiciales:
                <span class="text-mainColor underline font-semibold"
                  >notificacionjudicial@santarosa <br />
                  decabal -risaralda.gov.co
                </span>
              </p>
            </div>
            <!-- seccion 1 -->
            <!-- seccion 2  -->
            <figure
              class="col-span-1 flex flex-col gap-3 items-center justify-center order-1 lg:order-2"
            >
              <img
                src="../img/logoAlcaldia.png"
                alt=""
                class="w-24 object-contain"
              />
              <h3 class="font-semibold text-lg text-center">
                Alcaldía Municipal de Santa Rosa de Cabal en Risaralda
              </h3>
            </figure>
            <!-- seccion 2  -->
            <!-- seccion redes  -->
            <div class="col-span-1 lg:col-span-3 flex flex-wrap gap-3 order-3">
              <a
                href="#"
                class="flex items-center gap-1 hover:underline text-mainColor"
              >
                <i class="fab fa-facebook text-[1rem]"></i>
                @Alcaldía de Santa Rosa de Cabal
              </a>
              <a
                href="#"
                class="flex items-center gap-1 hover:underline text-mainColor"
              >
                <i class="fa-brands fa-x-twitter text-[1rem]"></i>
                @Alcaldía de Santa Rosa de Cabal
              </a>
              <a
                href="#"
                class="flex items-center gap-1 hover:underline text-mainColor"
              >
                <i class="fa-brands fa-youtube text-[1rem]"></i>
                @Santa Rosa de Cabal
              </a>
            </div>
            <!-- seccion redes  -->

            <!-- seccion redes  -->
            <div
              class="col-span-1 lg:col-span-3 text-mainColor text-[1rem] flex flex-wrap gap-6 order-3 underline font-semibold"
            >
              <a href="#">Política de privacidad y condiciones de uso</a>
              <a href="#"> Contacto</a>
              <a href="#">Mapa del sitio</a>
            </div>
            <!-- seccion redes  -->
          </article>
        </article>
      </section>
      <section class="bg-govColor px-6">
        <article
          class="lg:container mx-auto text-white flex justify-center lg:justify-start gap-5 py-5"
        >
          <figure class="w-12">
            <img
              src="../img/logofooter.png"
              class="w-full h-full object-contain"
              alt=""
            />
          </figure>
          <div class="w-[1px] h-auto bg-white"></div>
          <img src="../img/logo-gov.svg" class="w-32" alt="" />
        </article>
      </section>
    </footer>
    <!-- footer  -->
    <!-- Botón de chatbot -->
    <button
      class="fixed bottom-24 right-[5rem] lg:right-[5.8rem] bg-white hover:bg-black rounded-full hover:fill-[#fff] text-white p-4 lg:p-6 transform translate-x-full transition-all duration-500 z-40 bordeBotonChat border border-black"
    >
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6">
        <path
          d="M21.928 11.607c-.202-.488-.635-.605-.928-.633V8c0-1.103-.897-2-2-2h-6V4.61c.305-.274.5-.668.5-1.11a1.5 1.5 0 0 0-3 0c0 .442.195.836.5 1.11V6H5c-1.103 0-2 .897-2 2v2.997l-.082.006A1 1 0 0 0 1.99 12v2a1 1 0 0 0 1 1H3v5c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5a1 1 0 0 0 1-1v-1.938a1.006 1.006 0 0 0-.072-.455zM5 20V8h14l.001 3.996L19 12v2l.001.005.001 5.995H5z"
        ></path>
        <ellipse cx="8.5" cy="12" rx="1.5" ry="2"></ellipse>
        <ellipse cx="15.5" cy="12" rx="1.5" ry="2"></ellipse>
        <path d="M8 16h8v2H8z"></path>
      </svg>
    </button>
    <!-- Botón de Scroll -->
    <button
      id="scrollBtn"
      class="fixed bottom-8 right-8 bg-[#17599b] rounded-full text-white p-2 lg:p-3 transform translate-x-full opacity-0 transition-all duration-300 ease-in-out z-40"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m4.5 18.75 7.5-7.5 7.5 7.5"
        />
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m4.5 12.75 7.5-7.5 7.5 7.5"
        />
      </svg>
    </button>
    <!-- main scripts  -->

    <script src="../js/main/interna.js"></script>
    <!-- main scripts  -->
  </body>
</html>
